*{
  font-size: 10px;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root{
  width: 100%;
  height: 100%;
}
.btn{
  font-size: 1.6rem;
}

#num{
 font-size: 1.4rem;
}
.form-control, .btn{
font-size: 16px;
}
.cars{
  font-size: 14px;
  margin-left: 27px;

}
.upNav{
  width: 100%;
}
.list-group{
  position: absolute;
  top: 180px;
  left: 30px;
  width: 80%;
  height: 500px;
}
.list-group-item{
  width: 47%;
  font-size: 16px;
}
.fa-trash-alt{
  float: right;
  font-size: 22px;
}
.fa-plus-circle{
  font-size: 22px;
}
.left{
width: 50%;
height: 650px;
float: left;
}
.img{
  height: 75px;
  padding:10px;
}
.thenavbar{
height: 75px;
width: 100%;
}
#navbar-input{
height: 35px;
margin-top: 20px;
margin-left:20px;
}
#navbar-button{
  height: 37.5px;
  margin-top:20px;
  margin-left: 10px;
}
.right{
  width: 50%;
  height: 650px;
  float: left;
}
.bottom{
  width: 100%;
  height: 100px;
  background-color: red;
  float: left;
}

.addList{
  position: relative;
  top: 60px;
  right: 395px;
}